{% set show ='base.html.twig' %}
{% extends show %}

{% block body %}

<ul class="contacts">
<li style="background-color:#57abde">
  <div style="border-bottom: 6px">
    <h4>Revoyez le Live du 13 Février 2020</h4>
    <br/><a href=https://www.youtube.com/watch?v=QPjkcMQow9E target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/live.jpg')}}" style="max-height:275px"></a>
    <br/><a href=https://www.youtube.com/watch?v=QPjkcMQow9E target="_blank">Cliquez ICI</a>
      </div>
</li>

<li style="background-color:#57abde">
  <div style="border-bottom: 6px">
    <h4>Revoyez le Live du 05 Décembre 2019</h4>
    <br/><a href=https://youtu.be/SVRiHY5d3Ag target="_blank"><img src="{{ asset('assets/images/' ~ annee ~ '/live.jpg')}}" style="max-height:275px"></a>
    <br/><a href=https://youtu.be/SVRiHY5d3Ag target="_blank">Cliquez ICI</a>
      </div>
</li>
</ul>
{% endblock %} 