{% extends 'base.html.twig' %}
{% block title %}Tous les élécteurs{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4  text-center ">
        <h1>page 404 on degage y a rien à voir</h1>
    </div>
{% endblock %}